
@{
    <a>
        username2
        username
    </a>
    <input type="text" name="username" />
    <a>
        pat word
    </a>
    <input type="password" name="password" />
}

<h2>realIndex</h2>

